
        <div id="bookListWrapper" >
          <p> Click on <b> AddtoFavorite </b> to add it to your favourite list! </p>


    			<ul class="list-unstyled">
    				<li class="song" ng-repeat="song in songs"
    					style="background: white url('imgs/{{song.imgUrl}}') no-repeat">
    					<div class="song-details clearfix">
    						<h3>{{song.name}}</h3>
    						<p>{{song.Artist}}</p>
    						<ul class="list-unstyled list-inline">
    							<li><b>Album: </b>{{song.Album}}</li>
    							<li><b>Released: </b>{{song.Released}}</li>
              	</ul>
    						<button class="btn btn-info pull-right" ng-click="buy(song)">Buy</button>
    					</div>
    				</li>
    			</ul>
    		</div>
